{% extends "JAGUARETE/layout.html" %}
 {% block main %}
      <main>
         <section>
            <article id="articuloSecundario">
               <h2 class="centrar">Carrito</h2>
               <h4>Nombre de Usuario</h4>
               <p> 1: descripcion... <a href="" class="borrar">X</a></p>
               <p> 2: descripcion...   <a href="" class="borrar">X</a></p>
               <p> 3: descripcion...  <a href="" class="borrar">X</a></p>
               <p> 4: descripcion...  <a href="" class="borrar">X</a></p>
               <p> 5: descripcion...   <a href="" class="borrar">X</a></p>
               <div id="boton"><input type="button" value="Finalizar Compra"> <input type="button" value="Vaciar Carrito"></div>
            </article>
         </section>
      </main>
 {% endblock %}