{% extends "JAGUARETE/layout.html" %}
 {% block main %}
      <main>
         <section>
              {% if validlink %}
        <p>Ingrese (y confirme) su nuevo password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">nuevo password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="cambiar password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h2>Error al restablecer el password </h2>
        <p>El enlace de restablecimiento de password no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de password.</p>
    {% endif %}

         </section>
      </main>
{% endblock %}