{% extends "JAGUARETE/layout.html" %}
 {% block main %}
      <main>
         <section>
             <h2> Formulario para cambiar la clave</h2>
             <p>Use el correo electrónico con el que se registro</p>
           <form action="" method="post">{% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                    <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-default btn-lg" value="Formatear clave" />
        </form>
              <p><a href =" {% url 'login' %}">Volver a login</a></p>
         </section>
      </main>
{% endblock %}